name: CI pipeline

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]


jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Set Up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Cache Maven Packages
        uses: actions/cache@v4
        with:
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          path: ~/.m2/repository
      - name: Build project with maven
        run: mvn clean install -DskipTests
      - name: Run Tests
        run: mvn test
